* {
    font-family: 'Shantell Sans', cursive;
}

:root{
    --background: #5b5a5a;
    --headline: #fffffe;
    --paragraph: #fff3ec;
    --button-bg: #ffc0ad;
    --button-text: #271c19;
}
body {
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
}

header{
    display: flex ;
   
    background-color: var(--background);
    justify-content: space-between;
    
}
.img2{
    display: flex;
    width: 80%;
    height: 50px;
   
    padding-top: 5px;
    
}
nav{
    justify-content: space-around;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  gap: 20px;
  padding-right: 10px;
  
}
a{
    text-decoration: none;
    color: #ede5e5;
}
a{
    text-decoration: none;
    color: #ede5e5;
}
a:hover{
    color:rgb(93, 11, 11)
}
a:link{
    color:rgb(13, 222, 187)
}
a:active{
    color: blue;
}
main{
    display: column flex;
    padding-top: 20px;
    padding: 8%;
    background-color:#f1c0c7;
   
}
table {
    width: 60%;
    text-align: center;
    border: black solid -8px;
    box-shadow: 14px 21px 6px #00000075;
   
}

td, th {
    border: 3px solid rgb(21, 20, 20);
    color: #501616;
    font-size: 2rem;
}

th {
    padding: 52px 20px;
}

td {
    padding: 15px;
}

footer{
    display: flex;
    background-color: var(--background);
    justify-content: space-between;

}
.c2 {
    display: flex;
    font-size: larger;
    margin-right: 20px;
    margin-right: 40rem


}

.c1 {
    display: flex;
    gap: 20px;
    align-items: center;

}
