* {
    font-family: 'Shantell Sans', cursive;
}

:root {
    --background: #4a4949;
    --headline: #fffffe;
    --paragraph: #fff3ec;
    --button-bg: #ffc0ad;
    --button-text: #271c19;
}

body {
    background-color:var(--background);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: var(--background);
    justify-content: space-between;

}

.image1 {
    display: flex;
    width: 80%;
    height: 50px;

    padding-top: 5px;

}

nav {
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 20px;
    padding-right: 10px;

}

a {
    text-decoration: none;
    color: #ede5e5;
}

a:hover {
    color: rgb(93, 11, 11)
}

a:link {
    color: rgb(13, 222, 187)
}

a:active {
    color: blue;
}

/* a:visited{
    color:#73e80d
} */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
    background-color:#ffc0ad;


}

.one {
    display: flex;
   
}

.img1 {
    display: flex;
    width: 25rem;
    height: 70%;
    border-radius: 10%;


}

.tow {
    display: flex;
    

}

h2 {
    font-size: 2.5rem;
}

#describtion {
    display: flex;
    background-color: #b88e31;
    width: 30rem;
    height: 20rem;
    font-size: 2.4rem;
    border-radius: 10%;
    border: #622210 dotted 2px;
    box-shadow: #724b10;
}

form {
    display: flex;
   flex-direction: column;
   


}
label{
    display: flex;
    font-size: 2rem;
    background-color: #711149;
    
}
input{
    display: flex;
    width: 40rem;
    height: 3.5rem;
    background-color: #93897a;
}
button{
    display: flex;
    width: 15rem;
    height: 3rem; 
    justify-content: center;
    
}




footer {
    display: flex;
    background-color: var(--background);
    justify-content: space-between;


}

.c2 {
    display: flex;
    font-size: larger;
    margin-right: 20px;


}

.c1 {
    display: flex;
    gap: 10px;
    align-items: center;

}

i {
    width: 30px;
}



