* {
    font-family: 'Shantell Sans', cursive;
}

:root {
    --background: #4a4949;
    --headline: #fffffe;
    --paragraph: #fff3ec;
    --button-bg: #ffc0ad;
    --button-text: #271c19;
}

body {
    background-color: rgb(245, 204, 204);
    display: flex;
    flex-direction: column;


}

header {
    display: flex;
    background-color: var(--background);
    justify-content: space-between;



}


.image1 {
    /* display: flex; */
    width: 80%;
    height: 50px;
    /* padding-top: 5px; */


}

/* nav {
     m
    
   
} */

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: space-around;

}


a {
    text-decoration: none;
    color: #ede5e5;
}

a:hover {
    color: rgb(93, 11, 11)
}

a:link {
    color: rgb(13, 222, 187)
}

a:active {
    color: blue;
}



.two {
    display: flex;

    background-color: #fc8fae;
    justify-content: flex-start;
    margin: 20px 225px 0px 10px;
    border-radius: 3%;

}


.img1 {

    border-radius: 10%;
    width: 20%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;




}

.one {
    margin-left: 20px;

}

.three {

    /* font-size: 30px; */
    text-align: center;
    padding-right: 190px;
}

h3 {
    margin-right: 308px;
    margin-top: 53px;
}

form {
    display: flex;
    flex-direction: column;
    /* align-self: flex-start; */
    /* background-color: #938f92; */
    margin: 40px 350px;
    margin-left: 160px;





}

input,
button {
    display: flex;
    padding: 12px 20px;
}

input,
button {
    padding: 10px 70px;
    width: 70%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 15px;
}

label {
    display: flex;
    /* font-size: 1.5rem; */
    /* background-color: #6b5f66;  */
}

input {
    display: flex;
    background-color: #d1d0cd;
}

button {
    display: flex;
    justify-content: center;
    background-color: #fc8fae;

}




footer {
    display: flex;
    background-color: var(--background);
    justify-content: space-between;

}

.c2 {
    display: flex;
    /* font-size: larger; */
    margin-right: 40rem;


}

.c1 {
    display: flex;
    gap: 10px;
    margin-top: 20px;

}